.flipswitch {
  position: relative;
  background: #111;
  width: 120px;
  height: 40px;
  -webkit-appearance: initial;
  border-radius: 100px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  outline: none;
  font-size: 14px;
  font-family: Trebuchet, Arial, sans-serif;
  font-weight: bold;
  cursor: pointer;
  border: 1px solid #ddd;
  margin-top: 10px;
}

.flipswitch:after {
  position: absolute;
  top: 5%;
  display: block;
  line-height: 32px;
  width: 45%;
  height: 90%;
  background: #fff;
  box-sizing: border-box;
  text-align: center;
  transition: all 0.3s ease-in 0s;
  color: black;
  border: #888 1px solid;
  border-radius: 100px;
}

.flipswitch:after {
  left: 1%;
  content: "ENG";
}

.flipswitch:checked:after {
  left: 53%;
  content: "RUS";
  background: #2cd7f2;
  color: white;
}
#en {
  display: none;
}
select {
  margin-bottom: 1em;
  padding: .25em;
  border: 0;
  border-bottom: 2px solid currentcolor; 
  font-weight: bold;
  letter-spacing: .15em;
  border-radius: 0;
  outline:none;
  background: none;
  color: white;
}

